*.*~
*.rbc
*.swp
.DS_Store
.bundle
.byebug_history
.idea
.rbx
.rspec
.ruby-gemset
.rvmrc
/app/assets/webpack/*
/app/react
/node_modules
bin/*
config/database.yml
coverage/*
coverage/*
db/*.db
db/*.sqlite3
doc/api
doc/app
log/
log/*.log
npm-debug.log*
public/assets
public/packs
public/packs-test
public/system
public/updated.txt
sql/
tmp/
tmp/**/*
vendor/bundle
yarn-debug.log
yarn-error.log
