.container
  #open-source
    .headingstuff
      %h2 Open Source projects
      %p
        One of my core values is community involvement. I contribute snippets of commonly-used code to the Ruby community in the form of
        =link_to 'Gems', 'http://www.rubygems.org'
        , which other developers can freely use. This is a two-way street: the availability of other gems saves my clients money.

    .os-project-list
      .os-project.card.card-body
        .os-image
          .fa.fa-shapes

        %h3=link_to 'Valuabe', 'http://valuable.mustmodify.com'
        %p Valuable is basically attr_accessor on steoids. It aims to let you focus on your domain rather than creating routine getters and setters.
        %p
          =link_to 'Valuable repo at GitHub', "http://valuable.mustmodify.com/"
          &gt;
    .os-project-list
      .os-project.card.card-body
        .os-image
          .fa.fa-film

        .os-description
          %h3=link_to 'Flix4r', 'http://flix4r.mustmodify.com'
          %p
            A ruby interface to the NetFlix API. Search through movies and get data about them. User-specific stuff has not been implemented.
          %p
            =link_to 'flix4r repo at GitHub', 'http://flix4r.mustmodify.com'
            &gt;
    .os-project-list
      .os-project.card.card-body
        .os-image
          .fa.fa-draw-polygon

        %h3=link_to 'Sketch', 'http://sketch.mustmodify.com'
        %p
          Sketch makes it easy to create SVG images, and provides a library of existing images for your convenience.
        %p
          =link_to 'sketch repo at GitHub', 'http://sketch.mustmodify.com/'
          &gt;
