%h2 Project Profiles
.project-group
  -@projects.each do |project|
    .project
      %h5.project-heading
        =link_to project['heading'].first, project_path(project['codename'])
      .project-body
        =simple_format project['overview']
        -project['tech'] && project['tech'].each do |tech|
          .technology=tech
      .project-footer
        =link_to 'Learn More', project_path(project['codename']), class: 'btn btn-link'
