.container
  .services-heading
    %h2 Services
  .service-list
    .service
      .image
        .fa.fa-code
      .description
        %h3.service-name Building Software
        %p
          Using efficient, well-established tools, I build things that resolve business problems, add quality control and give greater visibility.
          %b Writing well-designed code that solves your problems and will grow with you is my specialty.
        %p
          My experience, including at
          %a{href: 'https://www.nasa.gov'} NASA
          and
          %a{href: 'http://www.thoughtworks.com'} ThoughtWorks
          , gives me a good sense of what makes a software project healthy, and what practices will add unnecessary risk and stagnation. I can provide insight into how to make projects more successful, move faster, and operate more smoothly.

    .service
      .image
        .fa.fa-user-headset
      .description
        %h3.service-name Speaking English

        %p My goal is to make sure you don't have to understand techno-babble. Whether that's turning your business needs into technical requirements, talking with potential vendors to determine the risks and liklihood of success, or weeding out people who throw around buzzwords from those who have actual skill, I'm happy to be your translator.
    .service
      .image
        .fa.fa-telescope
      .description
        %h3.service-name Analysis

        %p
          After years of working with small businesses and focusing on making sure that every dollar I bill provides value to the organization, I have the experience to turn your business needs into technical requirements that will take your organization to the next level. Our conversations are designed to sharpen and optimize your business process, remove waste, and make sure that nothing is left to chance.
    /.service
    /  .image
    /    .fa.fa-telescope
    /  .description
    /    %h3.service-name Project Review

    /    %p
    /      Having worked with some of the best minds in the software community (including
    /      %a{href: 'https://www.nasa.gov'} NASA
    /      and
    /      %a{href: 'http://www.thoughtworks.com'} ThoughtWorks
    /      ) I have a good understanding of projects, what makes them go well, and what makes them stall. I can provide insight into how to make projects more successful, move faster, and operate more smoothly.
