.container
  .services-heading
    %h2 Services
  .service-list
    .service
      .image
        .fa.fa-code
      .description
        %h3.service-name Custom Software Development
        %p
          I build scalable, reliable, custom software using industry-standard technologies to solve your business challenges.

        %p
          Through my experience working for partners like
          %a{href: 'https://www.nasa.gov'} NASA
          and
          %a{href: 'http://www.thoughtworks.com'} ThoughtWorks
          , I’ve learned how to cost-effectively balance the desire to get features built quickly with the need to architect reliable systems that scale with your business.

    .service
      .image
        .fa.fa-user-headset
      .description
        %h3.service-name Technology Advisory Services

        %p
          I understand what it takes to incorporate new software seamlessly into your existing operations, which is especially helpful for clients that rely on software to run their businesses but don’t employ a full-time CIO or CTO.

        %p
          Through my experience working with a range of corporate and entrepreneurial clients, I’ve learned how to communicate technical issues to non-technical audiences and to define the decisions that need to be made when developing software in business terms.
