/.splash
/  .container
/    %h1 Build solid software that meets your company's needs. Build features quickly, use it, improve, repeat.
/
/    %h1 Johnathon Wright industry-leading expert on developing web applications using Ruby on Rails and React.
/
%section#message
  .container
    %h1 Delivering custom software that provide business value.
    %h4 We take care of the technical nonsense so you can focus on helping your business grow.

%section#welcome-wrapper
  =render :partial => 'pages/featured_content'

%section#projects
  .container
    =render partial: 'pages/projects'

%section#services
  =render partial: 'pages/services'

%section#open-source-wrapper
  =render :partial => 'pages/open_source'

