%section#message
  .container
    %h1 Developing custom software that delivers business value.
    %h4 I take care of the technical stuff so you can focus on growing your business.

%section#welcome-wrapper
  =render :partial => 'pages/featured_content'

%section#projects
  .container
    =render partial: 'pages/projects'

%section#ideal-clients
  .container
    %h2 Ideal Clients

    %p My ideal clients are small to mid-sized businesses who need custom software to continue to grow. I provide the most value when I work on business-critical software.

    %p Although it's always fun to get involved in projects during the conceptual phase so I can help architect solutions from scratch, I have had a good deal of success working with existing projects and slowly moving the needle towards greater maintainability. In either situation, I look to address the right problems in something approaching the right order within the available budget.

    %p But I have also been brought in to help rescue projects that have failed at some point along the way, especially when it's not clear to the stakeholders what might be the actual issue preventing completion.

    %p I look to work with clients who see me as their partner in turning customer software into real solutions that help grow their businesses.

%section#services
  =render partial: 'pages/services'

%section#open-source-wrapper
  =render :partial => 'pages/open_source'

