/.splash
/  .container
/    %h1 Build solid software that meets your company's needs. Build features quickly, use it, improve, repeat.
/
/    %h1 Johnathon Wright industry-leading expert on developing web applications using Ruby on Rails and React.
/
#welcome-wrapper
  =render :partial => 'pages/featured_content'

#open-source-wrapper
  =render :partial => 'pages/open_source'

