.portfolio {
}

.project-container {
  background-image: radial-gradient( ellipse at top, transparent 5%, white 60%), url("/assets/textures/spikes.png");
}

.project {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 3rem;

  .thumb {
    padding: 1rem 20px 20px 20px;
    margin: 1rem 20px 20px 0;
    border: 1px solid #385F5F;
    margin-right: 2rem;
  }

  .content {
    margin-right: 2rem;
    flex: 1 1 0;
  }

  .screen-shots {
    width: 30%;
  }

  .description {
    margin-right: 2rem;
  }

  q {
    border: 2px dotted #42b9e0;
    font-size: 1.25rem;
    padding: 10px;
    display: block;
    margin: 1.5rem 0;
  }

  .heading {
    margin: 0;
    width: auto;

    div {
      padding: 15px 0;
      margin: 0;
      border-bottom: 1px solid lightblue;

      &:last-child {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: none;
      }
    }

    .heading-1 {
      font-size: 2.5rem;
      padding: 0 0 20px;
      border-bottom: 1px solid lightblue;
      margin: 0;
    }

    .heading-2 {
      font-size: 1.8rem;
    }

    .heading-3 {
      font-size: 1.3rem;
    }
  }
}


