// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post{
  .post-title {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: blue;
    font-weight: 600;
  }

  .creation_date {
    padding-left: 0.3em;
  }
}

.post-category{
  padding-bottom: 8px;
  display: block;
}
