// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post{
	.creation_date{
		padding-left: 2em;
	}

	h1{
		font-size: 2rem;
		border-bottom: 1px solid blue;
	}
}

.post-category{
	padding-bottom: 8px;
	display: block;
}