.shadowed {
  box-shadow: 0 7px 20px 7px hsla(0, 0%, 0%, 0.15)
}

.splash {
  background-image: url(/assets/welcome-splash-rails-website-consulting.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 60vh;

  h1 {
    color: white;
  }
}

main {
  section:nth-child(1) {
    //background: #a1c2e5 linear-gradient(#849ab1, #456484 3px, #829dba 15px);
    background: #a1c2e5 linear-gradient(#849ab1, #456484 3px, #6e91b4 15px);
  }

  section:nth-child(3) {
    //background: #D8F4FF linear-gradient(#B6E0F0, #88CEE7 3px, #D8F4FF 15px);
    background: #D8F4FF linear-gradient(to right, #eafaff,  #a9dcf1, #6ec0e2);
    border-bottom: 1px solid #88CEE7;
  }

  section:nth-child(4) {
    background-color: #F8F8F8;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255,255,255,0.3) 50%, rgba(255, 255, 255, 0)), url(/assets/textures/what-the-hex.png);;
  }
}

#message {
  padding: 8rem 0;
  color: white;
  text-shadow: 2px 2px black;
}

#welcome-wrapper {

  #featured {
    display: none;
    padding: 20px 10px 0;

    .project-description p {
      color: #3B5F5F;

      margin-top: 15px;

      font-family: 'Open Sans';
      font-size: 1.3rem;
      line-height: 1.4em;
    }

    height: 400px;

    @media only screen and (max-width: 767px) {
      height: 90vh;
    }

    .featured-client {
      display: none;

      &:first-child {
        display: block;
      }
      .featured-image {
        text-align: center;
      }
      img {
        margin: 2rem auto 0;
        box-shadow: -4px 4px 14px #3B5F5F;

        width: 90%;
        height: auto;

        @media only screen and (max-width: 767px) {
          width: 80vw;
        }
      }

      h1 {
        padding-top: 0.5em;
        color: #E33052;
        text-shadow: 3px 2px 5px #BBB;
      }
    }
  }
}

#ideal-clients {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#open-source {
  color: #707070;
  padding: 20px 0;

  .os-project-list {
    display: flex;
    flex-direction: column;
    //width: 75%;

    .os-image {
      color: darken(#6ec0e2, 20%);
      height: 5rem;
      width: 5rem;

      background-color: #ffffff9c;
      border-radius: 25%;

      margin-bottom: 0.25rem;
      margin-right: 1.5rem;

      font-size: 3rem;
      text-align: center;
      vertical-align: top;
    }

    .os-project{
      background-color: #6ec0e2;

      .btn-os-link {
        background-color: #ffffff9c;
        color: darken(#6ec0e2, 20%);
        font-weight: 500;
      }
      color: white;

      margin: 1rem 0;

      a {
        color: white;
      }
      flex-direction: row;
      flex: 1;

      .os-description {
        flex: 1 1 0;
      }

      .facts {
        margin-bottom: 2rem;
      }
    }

    @media (max-width: 991px) {
      .os-project {
      display: block;

        .os-image {
          float: left;
        }
      }
    }
  }
  .project a:hover {
    text-decoration: underline;
  }

  img {
    width: 45px;
    padding-right: 6px;
  }

  h2 {
    padding-top: 0.5em;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: left;
    color: #3772FF;
    margin-bottom: 2rem;
    text-shadow: 3px 2px 5px #BBB;
  }
}

#services {
  padding: 4rem 0;

  .services-heading {
    h2 {
      font-size: 3rem;
      text-align: left;
      color: #3772FF;
      margin-bottom: 2rem;
      text-shadow: 3px 2px 5px #BBB;
    }
  }

  .service-list {
    display: flex;
    flex-direction: row;

    .service {
      flex: 1 1 0;
      background-color: white;
      padding: 2rem 2rem;

      h3 {
        margin-bottom: 1rem;
        text-shadow: 3px 2px 5px #BBB;
      }

      .image {
        text-align: center;

        .fal, .fa {
          color: #FFD25A;
          font-size: 3rem;
        }
      }
    }

    @media (min-width: 1200px) {
      .service {
        margin: 0 1.5rem;
        box-shadow: 0 7px 20px 7px hsla(0, 0%, 0%, 0.10);

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .image {
          margin-bottom: 2rem;
        }
      }
    }
//    @media (max-width: 1199px) {
//
//      .service {
//        border: 1px solid #E1E1E1;
//        background-color: white;
//        min-width: 40%;
//        margin: 2rem;
//      }
//    }
//
//    @media (max-width: 776px) {
    @media (max-width: 1199px) {
      flex-wrap: wrap;
      .service {
        min-width: 100%;
      }
      border: 1px solid #E1E1E1;
      background-color: white;
      margin: 0;
    }
  }
}

.a-year-of-code img {
  width: 90%;
  margin: 2rem auto 1rem;
}

#projects {
  padding-bottom: 4rem;

  h2 {
    padding-top: 0.5em;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: left;
    color: #3772FF;
    text-shadow: 3px 2px 5px #BBB;
  }

  .project-group {
    display: flex;
    flex-direction: row;
    //overflow-x: scroll;
  }

  .project {
    display: flex;
    flex-direction: column;

    background-color: white;
    flex: 1 1 0;
    min-width: 300px;
    margin: 2rem 2rem;
    padding: 1rem;
    box-shadow: 0 0 11px 13px #8CA1B359;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    .project-heading { font-weight: 600; color: darken(#6EC0E3, 30%);}

    .project-body {
	    flex: 1 1 0;
    }
    .project-footer {
      .btn-link { padding-left: 0; }
    }
    .technology {
      background-color: #e1e1e1; border-radius: 4px; padding: 2px 8px; margin: 2px; line-height: 2rem; display: inline; white-space: pre; color: darken(#6ec0e2, 35%);
      display: none;
    }
  }
}
