.project-container
  .project.container
    .content
      .heading
        -project['heading'].each_with_index do |heading, i|
          %div.h{class: "heading-#{i+1}"}=heading

      .description
        -project['description'].each do |desc|
          %p=desc

      .feedback
        -project['quotes'] && project['quotes'].each do |quo|
          %q=quo

    .screen-shots
      -project['screen_shots'] && project['screen_shots'].each do |ss|
        -if ss['src']
          %figure.screen-shot
            =image_tag("portfolio/#{ss['src']}", alt: ss['alt'], class: 'thumb')
            %figcaption=ss['caption']
