.featured-client.slide.nasa
  .row
    .col-sm-6.featured-image
      =image_tag '/assets/featured/nasa.jpg', :width=>515, :height=>265, :alt=>"Ruby on Rails at NASA"
    .col-md-6
      %h1 NASA
      .project-description
        %p
          A new Rails team at
          %strong NASA's Kennedy Space Center
          asked me to work with them for three months to get them up to speed on Ruby on Rails and to solve some nagging process issues. I was able to transition the team from reactive to proactive using Agile values and principles, and to step up their development skills.

        %p In exchange, I got to tour spaceships.
