.physioage.featured-client.slide
  .row
    .col-md-6.featured-image
      =image_tag '/assets/featured/physioage.png', :width=>515, :height=>265, :alt=>"Ruby on Rails App for PhysioAge Medical System"
    .col-md-6
      %h1 PhysioAge Reporting
      .project-description
        %p
          This medical application has collected hundreds of datapoints for over 500 patients. This data is used to do some predictive math about how patients are aging, which is then presented in a spectacular report.   Click here to read more about the transformation from crippled app to the picture of stress-free quality control they are today.
