.saw.featured-client.slide
  .row
    .col-md-6.featured-image
      =image_tag 'featured/saw.png', :width=>515, :height=>265, :alt=>"Furniture Repair business using Ruby on Rails"
    .col-md-6
      %h1 SAW Enterprises
      .project-description
        %p
          This client came to me with an existing Rails site. After a fall-out with the previous developer, it had been without maintenance for months and was starting to be a source of daily frustration.  Since it was critical to their repair scheduling business, they needed someone they could trust to make sure it got better, not worse. Over 10 years, I helped this client grow from a small regional organization to a recognized national name in the industry.
