.saw.featured-client.slide
  .row
    .col-md-6.featured-image
      =image_tag '/assets/featured/saw.png', :width=>515, :height=>265, :alt=>"SAW enterprises small business Ruby on Rails application"
    .col-md-6
      %h1 SAW Enterprises
      .project-description
        %p
          SAW came to me with an existing Rails site. After a fall-out with the previous developer, it had been without maintenance for months and was starting to be a source of daily frustration.  Since it was critical to their repair scheduling business, they needed someone they could trust to make sure it got better, not worse. After a few weeks of urgent fixes, we were able to transition to new functionality again.
