* {
  font-family: "Open Sans";
  font-size: 18px;
}

.navbar{
background-color: black;
color: white;
  a, a:visited, a:hover {color: white;};
font-weight: bold;
text-transform: uppercase;
font-size: 18px;
}

.navbar .navbar-brand, .navbar .nav-link {
font-family: "Ganymede";
font-weight: bold;
//text-transform: uppercase
font-size: 18px;
}
