body {
  font-family: "Open Sans";
  font-size: 18px;
}

.page-header {
  padding: 1rem 0;
}

.facts {
  .fact {
    .name, .value {
      display: inline-block;
    }

    .name::after {
      content: ': ';
    }
  }
}
