#footer-wrapper
  .container
    #footer
      .row
        .col-md-6
          .twitter
            :erb
              <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/mustmodify?ref_src=twsrc%5Etfw">Tweets by mustmodify</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        .col-md-6
          #copyright All content &copy; MustModify, LLC

          .contact
            %h2 Contact Johnathon
            .line email: jw@mustmodify.com
            .line phone: 321 209 4052
