<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/head' %>
  <body>
    <%= render partial:'layouts/navigation' %>




    <div class="container">
      <% if !notice.blank? %>
        <div class="alert alert-info" role="alert"><%= notice %></p></div>
      <% end %>
    <%= yield %>
    </div>

  </body>
</html>
